<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.dao.StudentDao">
    <resultMap id="studentMap" type="com.lin.model.Student">
        <id property="studentId" column="student_id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="birthday" column="birthday" javaType="java.sql.Date"/>
    </resultMap>

    <sql id="table_column">
        student_id,
        name,
        gender,
        age,
        birthday
    </sql>

    <select id="findAll" resultMap="studentMap">
        select
        <include refid="table_column"/>
        from student
    </select>

    <insert id="addStudent" parameterType="com.lin.model.Student">
        insert into student(<include refid="table_column"/>) values (#{studentId},#{name},#{gender},#{age},#{birthday})
    </insert>

    <delete id="delStudent" parameterType="Integer">
        delete from student where student_id = #{studentId}
    </delete>

    <update id="updateStudent" parameterType="com.lin.model.Student">
        update student
        set student_id = #{studentId},name = #{name},gender = #{gender},age = #{age},birthday = #{birthday}
            WHERE  student_id = #{studentId}
    </update>

    <select id="findById" resultMap="studentMap" parameterType="Integer">
        SELECT <include refid="table_column"/>
        FROM student
        WHERE student_id=#{studentId}
    </select>

</mapper>